MYSQL_DATABASE=BASKETALJARAFE
MYSQL_USER=basket_user
MYSQL_PASSWORD=basket_password
MYSQL_ROOT_PASSWORD=root_password
MYSQL_PORT=3307
BACKEND_PORT=1001
FRONTEND_PORT=80
TZ=Europe/Madrid
SPRING_JPA_HIBERNATE_DDL_AUTO=update
